/* Importing a new font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --color-orange: #ffa90e;
  --color-blue: #6366f1;
  --btn-color-blue: #2563eb;
  --font-family: "Poppins", sans-serif;
}

/* Basic Resets and Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
.navbar {
  background-color: var(--color-orange);
  padding: 1rem 1rem;
  font-size: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar div {
  display: flex;
  column-gap: 10px;
}

.nav-btn {
  background-color: var(--btn-color-blue);
  color: white;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.nav-btn:hover,
.nav-btn-active {
  background-color: var(--color-blue);
  transform: scale(1.1);
}

.nav-btn-active {
  background-color: var(--color-blue);
}

.nav-btn-contact {
  font-weight: 500;
  background-color: white;
  color: var(--btn-color-blue);
}
.nav-btn-contact:hover {
  background-color: var(--btn-color-blue);
  transform: scale(1.1);
  color: white;
}

.navbar-brand {
  color: white;
  text-decoration: none;
}

/* Main */
main {
  scroll-behavior: smooth;
  transition: scroll 3s ease-in-out;
  max-width: 100%;
  scroll-snap-type: y mandatory; /* Snap type for smoother scrolling */
  overflow-y: auto;
  display: grid;
}

/* Section */
.section {
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92vh;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}
.index-info-section {
  scroll-snap-align: center;
  display: grid;
  grid-template-columns: 1fr 2vr;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}
.info-section {
  scroll-snap-align: start;
  height: 90vh;
}

.contact-form-section {
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.contact-map-section {
  scroll-snap-align: start;
  height: 90vh;
  padding: 2rem;
}
.contact-map-div {
  scroll-snap-align: start;
  height: 100%;
  padding: 1.5rem;
}

.googlemap {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Background Colors */
.bg-orange {
  background-color: var(--color-orange);
}

.bg-blue {
  background-color: var(--color-blue);
  color: white;
  padding: 1rem;
}

/* Footer */
footer {
  background-color: var(--color-orange);
  scroll-snap-align: end;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

form h3 {
  color: black;
  text-align: center;
}

/* Contact Form */
.contact-info {
  color: black;
}

.contact-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}

.contact-form input,
.contact-form textarea {
  border: 2px solid var(--color-blue);
  border-radius: 5px;
  padding: 0.75rem;
  width: 100%;
  resize: none;
}

.contact-form button {
  border: 2px solid var(--color-blue);
  padding: 0.75rem;
  border-radius: 5px;
  background-color: var(--btn-color-blue);
  color: white;
  cursor: pointer;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.contact-form button:hover {
  background-color: white;
  color: var(--btn-color-blue);
  border-color: var(--btn-color-blue);
}

/* Nové třídy pro sekce */
.why-measure-section,
.measurement-section,
.contact-section {
  scroll-snap-align: center;
  padding: 2rem;
  color: white;
}

.warning-section {
  scroll-snap-align: center;
  color: black;
}
.importance-section {
  scroll-snap-align: start;
  color: black;
}

.info-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-article-title {
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-weight: 600;
}

.info-desc {
  font-size: clamp(1rem, 2vw, 1.5rem);
  max-width: 800px;
  line-height: 1.5;
  padding: 0 1rem;
}

.info-list {
  font-size: clamp(1rem, 2vw, 1.5rem);
  max-width: 800px;
  line-height: 1.5;
  padding: 0 1rem;
  text-align: left;
  list-style-type: disc;

  color: black;
  list-style: none;
}

.info-list ul {
  position: relative;
}
.info-list ul li {
  position: relative;
  left: 0;
  color: black;
  list-style: none;
  border-left: 2px solid white;
  transition: 0.5s;
  cursor: pointer;
}
.info-list ul li:hover {
  left: 10px;
}
.info-list ul li span {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.info-list ul li:hover span {
  color: black;
}
.info-list ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.info-list ul li:hover:before {
  transform: scaleX(1);
}

/* Info Title */
.info-title {
  background-color: var(--color-blue);
  color: white;
  padding: 1rem;
  font-size: clamp(2rem, 4.5vw, 4.5rem);
  font-weight: 700;
  text-align: center;
}

/* Info Card */
.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--color-blue);
  color: white;
  border-radius: 7px;
  font-size: clamp(1rem, 2vw, 2rem);
  text-align: center;
  margin: 0.5rem;
}

/* Info Article Content */
.info-article-content {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  width: 100%;
}

.contact-btn {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact-btn:hover {
  border: 2px solid white;
  background-color: var(--color-blue);
  color: white;
  transform: scale(1.05);
  margin-top: 0.8rem;
}
.services-btn {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.services-btn:hover {
  border: 2px solid white;
  background-color: var(--color-blue);
  color: white;
  transform: scale(1.05);
  margin-top: 0.8rem;
}

/* Info Article */
.info-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.info-article-title {
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: 700;

  text-align: center;
}

.info-article-content h2 {
  font-size: clamp(1rem, 2vw, 2rem);
  color: white;
  text-align: center;
  padding: 1rem;
}
.index-info-content h2 {
  font-size: clamp(1rem, 2vw, 2rem);
  color: black;
  text-align: center;
  padding: 1rem;
}

.lil-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue);
  color: white;
  border-radius: 5px;
  padding: 2rem;
  font-size: clamp(1.3rem, 2vw, 2.5rem);
  margin: 1rem;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.hero-section h1 {
  font-size: clamp(3rem, 3vw, 3rem);
}
.hero-section p {
  font-size: clamp(1rem, 1.3vw, 2rem);
}


.hero-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-image: url('images/tower_landscape.jpg'); /* Replace with your image path */
    background-size: cover; /* Make sure the image covers the entire section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

.hero-content {
    position: relative;
    z-index: 1; /* Ensure text is above the background */
    color: white; /* Adjust text color for visibility */
    text-align: center;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Dark overlay to improve text readability */
    z-index: 0;
}



.hero-content {
  gap: clamp(1rem, 1vw, 2rem);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-btn {
  background-color: var(--color-blue);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: 1px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.hero-btn:hover {
  background-color: var(--color-orange);
  color: white;
  transform: scale(1.05);
}

/* About Section */
.about-section {
  padding: 3rem 1rem;
  text-align: center;
}

.about-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Services Overview Section */
.services-overview-section {
  padding: 3rem 1rem;
  text-align: center;
  color: #fff;
}

.services-overview-section h2,
.about-section h2,
.contact-section h2,
.hero-content h2 {
  font-size: clamp(3rem, 3vw, 3rem);
  margin-bottom: 0rem;
}

.services-cards {
  display: flex;
  justify-content: center;
  gap: 1vw;
  flex-wrap: wrap;
}

.service-card {
  background-color: var(--color-blue);
  padding: 1rem;
  border-radius: 8px;
  width: 320px;
  margin: 0.5rem 0;
}
.service-card-outline {
  background-color: var(--color-blue);
  padding: 1rem;
  border: 2px solid white;
  border-radius: 8px;
  width: 340px;
  margin: 0.5rem 0;
}

.service-card h3,
.service-card-outline h3 {
  margin-top: 0;
  font-size: clamp(1.5rem, 1.6vw, 2rem);
}
.section-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: clamp(1rem, 1vw, 2rem);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section-content h1 {
  font-size: clamp(1.5rem, 2vw, 2rem);
}
.section-content p {
  font-size: clamp(1rem, 1.3vw, 2rem);
}

.black {
  color: black;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.thank-you-message {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-inline: -4rem;
  color: black;
  font-size: clamp(2rem, 3vw, 3rem);
  text-align: center;
  margin-top: 4rem;
}

.thank-you-message i {
  font-size: 5rem;
  margin-top: 1rem;
  color: green;
}

/* Responsive Adjustments */

@media screen and (min-width: 868px) {
  .contact-map-section {
    display: none;
  }
  .info-article-content {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    height: 75%;
    margin: 1rem auto;
  }
  .info-section {
    height: 90vh;
    place-items: center;
  }
}
@media screen and (max-width: 1088px) {
  .section {
    min-height: 100vh;
  }
  .info-desc,
  .info-grid {
    padding: 1rem;
  }
}

@media screen and (max-width: 868px) {
  main {
    scroll-snap-type: y proximity;
  }
  .contact-page-section {
    flex-direction: column;
  }
  .contact-form-section {
    grid-template-columns: auto;
  }
  .contact-map-div {
    display: none;
  }

  .info-title {
    font-size: 1.5rem;
  }
  .lil-card {
    font-size: 1rem;
    width: 100%;
    margin: 0;
    border-radius: none;
    border: 2px solid white;
    border-top: none;
  }
  .info-grid {
    grid-template-columns: repeat(1, minmax(375px, 1fr));
  }
}
@media screen and (max-width: 560px) {
  .thank-you-message{
    margin-inline: 0;
  }
  .info-article {
    gap: 0vw;
  }
  .importance-section,
  .info-section {
    min-height: 130vh;
  }
  .why-measure-section,
  .measurement-section,
  .contact-section,
  .warning-section {
    min-height: 100vh;
  }
  .navbar-brand {
    font-size: 1.1rem; /* 20px */
  }

  .nav-btn {
    font-size: 0.875rem;
  }
}
